<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>魅魔官网后台</title>
  <meta name="description" content="这是一个 user 页面">
  <meta name="keywords" content="user">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css" />
  <link rel="stylesheet" href="../../static/assets/css/admin.css">
</head>

<body>
  <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

  <header class="am-topbar admin-header">
    <div class="am-topbar-brand">
      <strong>魅魔</strong>
      <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
      data-am-collapse="{target: '#topbar-collapse'}">
      <span class="am-sr-only">导航切换</span>
      <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

      <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
        <li>
          <a href="javascript:;">
            <span class="am-icon-envelope-o"></span> 收件箱
            <span class="am-badge am-badge-warning">5</span>
          </a>
        </li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            <span class="am-icon-users"></span> 管理员
            <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li>
              <a href="#">
                <span class="am-icon-user"></span> 资料</a>
            </li>
            <li>
              <a href="#">
                <span class="am-icon-cog"></span> 设置</a>
            </li>
            <li>
              <a href="#">
                <span class="am-icon-power-off"></span> 退出</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:;" id="admin-fullscreen">
            <span class="am-icon-arrows-alt"></span>
            <span class="admin-fullText">开启全屏</span>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar">
      <ul class="am-list admin-sidebar-list">
        <li>
          <a href="/admin/index">
            <span class="am-icon-home"></span> 首页</a>
        </li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}">
            <span class="am-icon-file"></span> 内容上传
            <span class="am-icon-angle-right am-fr am-margin-right"></span>
          </a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li>
              <a href="/admin/upload-banner">
                <span class="am-icon-calendar"></span> 上传轮播图</a>
            </li>
            <li>
              <a href="/admin/upload-tag">
                <span class="am-icon-th"></span> 上传商品分类
                <span class="am-badge am-badge-secondary am-margin-right am-fr">24</span>
              </a>
            </li>
            <li>
              <a href="/admin/upload-product" class="am-cf">
                <span class="am-icon-check"></span> 上传商品
                <span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span>
              </a>
            </li>
            <li>
              <a href="/admin/upload-news">
                <span class="am-icon-th"></span> 上传新闻
                <span class="am-badge am-badge-secondary am-margin-right am-fr">24</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/admin/banners">
            <span class="am-icon-table"></span> 轮播图</a>
        </li>
        <li>
          <a href="/admin/products">
            <span class="am-icon-table"></span> 商品列表</a>
        </li>
        <li>
          <a href="/admin/tags">
            <span class="am-icon-table"></span> 商品类别列表</a>
        </li>
        <li>
          <a href="/admin/news">
            <span class="am-icon-table"></span> 新闻列表</a>
        </li>
        <li>
          <a href="#">
            <span class="am-icon-sign-out"></span> 注销</a>
        </li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p>
            <span class="am-icon-bookmark"></span> 公告</p>
          <p>发财</p>
        </div>
      </div>

      <!-- <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to the Amaze wiki!</p>
        </div>
      </div> -->
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf">
          <strong class="am-text-primary am-text-lg">
            {{if .News.ID}} 编辑新闻 {{else}} 上传新闻 {{end}}
          </strong> /
          <small>Product information</small>
        </div>
      </div>

      <hr />

      <div class="am-g">
        <div>
          <label for="user-name" class="am-u-sm-3 am-form-label">新闻标题</label>
          <div class="am-u-sm-9">
            <input type="text" name="product-name" id="news-name" placeholder="新闻标题" value="{{.News.Name}}">
            <small>输入新闻标题</small>
          </div>
        </div>

        <hr />

        <div id="editor">

        </div>

        <hr>

        <div style="padding-left: 30px;"><button type="submit" onclick="submit()"
            class="am-btn am-btn-primary">提交</button></div>
      </div>
    </div>

    <div id="edit-info" style="display: none">
      <div id="newsDesc">{{.News.Desc}}</div>
      <div id="newsID">{{.News.ID}}</div>
    </div>
    <!-- content end -->

  </div>

  <footer>
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>

  <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../../static/assets/js/polyfill/rem.min.js"></script>
<script src="../../static/assets/js/polyfill/respond.min.js"></script>
<script src="../../static/assets/js/amazeui.legacy.js"></script>
<![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="../../static/assets/js/jquery.min.js"></script>
  <script src="../../static/assets/js/amazeui.min.js"></script>
  <!--<![endif]-->
  <script src="../../static/assets/js/app.js"></script>
  <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
  <script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');

    editor.customConfig.customUploadImg = function (files, insert) {
      var formData = new FormData();
      formData.append("classify", "news");
      for (let index = 0; index < files.length; index++) {
        const img = files[index];
        formData.append('images', img, img.filename);
      }
      $.ajax({
        url: '/api/ImgsUpload',
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        success: function (res) {
          if (res['Code'] == 0) {
            var urls = window.uploadImgURLs = res['URLs'];
            for (let index = 0; index < urls.length; index++) {
              const element = urls[index];
              insert(element);
            }
          } else {
            alert(res['Msg']);
          }
        }
      });
    };

    editor.create();
    editor.txt.html($('#newsDesc').text().trim());

    function submit() {
      var name = $('#news-name').val();
      var desc = editor.txt.html();
      if (name.length == 0) {
        return alert('请输入新闻标题');
      }
      if (desc.length == 0) {
        return alert('请输入新闻详情');
      }

      var formData = new FormData();

      formData.append("name", name);
      formData.append("desc", desc);

      var ID = $('#newsID').text().trim();
      var URL;
      if (ID) {
        formData.append("ID", ID);
        URL = "/api/update/news"
      } else {
        URL = "/api/upload/news";
      }
      $.ajax({
        type: "post",
        url: URL,
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          alert(response['Msg']);
          if (response['Code'] === 0) {
            window.location.reload();
          }
        }
      });

      return false;
    }
  </script>
</body>


</html>