﻿<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <!-- Force latest IE rendering engine or ChromeFrame if installed -->
  <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
  <meta http-equiv="content-language" content="zh-CN" />
  <title>服务支持 > 防伪查询_魅魔MAYMOE官方网站</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="copyright" content="2014" />
  <!--[if lt IE 9]>    
<script src="static/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>		
<![endif]-->
  <!--[if gte IE 9]>
<script src="static/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>		
<![endif]-->
  <!--[if !IE]><!-->
  <script src="static/js/jquery-2.0.3.min.js" type="text/javascript" charset="utf-8"></script>
  <!--<![endif]-->

  <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
  <script src="static/js/tools.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/template.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/jquery.easing.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="static/css/jquery.lightbox.css" type="text/css" media="screen" charset="utf-8">
  <script src="static/js/jquery.situa.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/jquery.scrollloading.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/init.js" type="text/javascript" charset="utf-8"></script>
  <!--[if IE 6]>
		<script src="static/js/jquery-1.7.2.js" type="text/javascript" charset="utf-8"></script>		<script src="static/js/ie6png.js" type="text/javascript" charset="utf-8"></script>		<script type="text/javascript">
			IE6PNG.fix('*');
		</script>
<![endif]-->
</head>

<body>
  <div class="body-main">
    <div class="header">
      <div class="max-min">
        <div class="logo fl"><a href="/p_index" title=""><img src="static/picture/logo.png"
              style="margin-top:10px;"></a></div>
        <div class="menu fl">
          <ul>
            <li>
              <div class="navf"><a href="/p_index" title="首页"> <span></span> <span class="navcur">首页</span> <span
                    class="navon">HOME</span> </a> </div>
            </li>
            <li class="">
              <div class="navf"><a href="/p_products" title=""> <span class="navcurbg"></span> <span
                    class="navcur">产品中心</span>
                  <span class="navon">PRODUCT</span> </a></div>
              <div class="nav-son">
                <ul>
                  {{range .ProductTags}}
                  <li>
                    <a href="/p_products?id={{.ID}}" title="{{.Name}}">{{.Name}}</a>
                  </li>
                  {{end}}
                </ul>
              </div>
            </li>

            <li class="">
              <div class="navf"><a href="/p_partners" title=""> <span class="navcurbg"></span> <span
                    class="navcur">合作商家</span>
                  <span class="navon">Business</span> </a></div>
              <div class="nav-son">
                <ul>

                  <li><a href="/p_partners" title="在线购买">在线购买</a></li>

                </ul>
              </div>
            </li>
            <li class="">
              <div class="navf"><a href="/p_fangwei" title=""> <span class="navcurbg"></span> <span
                    class="navcur">服务支持</span>
                  <span class="navon">SERVICE</span> </a></div>
              <div class="nav-son">
                <ul>

                  <li><a href="/p_fangwei" title="防伪查询">防伪查询</a></li>

                  <li><a href="/p_shouhou" title="售后服务">售后服务</a></li>

                  <li><a href="/p_feedback" title="客户反馈">客户反馈</a></li>

                  <li><a href="/p_shouquan" title="授权查询">授权查询</a></li>

                </ul>
              </div>
            </li>
            <li class="">
              <div class="navf"><a href="/p_news" title=""> <span class="navcurbg"></span> <span
                    class="navcur">资讯中心</span>
                  <span class="navon">NEWS</span> </a></div>
                  <div class="nav-son">
                    <ul>
                      <li>
                        <a href="/p_news" title="公司新闻">公司新闻</a>
                      </li>
                    </ul>
                  </div>
            </li>
            <li class="">
              <div class="navf"><a href="/p_about" title=""> <span class="navcurbg"></span> <span
                    class="navcur">关于我们</span>
                  <span class="navon">ABOUT US</span> </a></div>
              <div class="nav-son">
                <ul>

                  <li><a href="/p_about" title="品牌故事">品牌故事</a></li>

                  <li><a href="/p_about" title="资质认证">资质认证</a></li>

                  <li><a href="/p_contact" title="联系我们">联系我们</a></li>

                </ul>
              </div>
            </li>
            <li class="">
              <div class="navf"><a href="p_weishang" title=""> <span class="navcurbg"></span> <span
                    class="navcur">微商招商</span>
                  <span class="navon"></span> </a></div>
              <div class="nav-son">
                <ul>

                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="hotline fr">
          <!-- <img src="static/picture/menu_line.png"> -->
        </div>
      </div>
    </div>
    <div class="side">
      <ul>

        <li> <a href="/p_about" title="联系我们">
            <div class="sidebox"> <img src="static/picture/side_icon02.png">联系我们 </div>
          </a> </li>
        <li><a class="go_top1" href="http://wpa.qq.com/msgrd?v=3&uin=398095643&site=qq&menu=yes">
            <div class="sidebox"> <img src="static/picture/side_icon04.png">QQ客服 </div>
          </a> </li>

        <li style="border:none;"> <a href="javascript:goTop();" class="sidetop"><img
              src="static/picture/side_icon05.png"></a>
        </li>
      </ul>
    </div>

    <div class="inner-banner">
      <div class="nav-title">
        <div class="max-min" style="color:#999"> 服务支持<br>
          <span>SERVICE</span> </div>
      </div>
      <img src="static/picture/service-banner.jpg" width="1920" height="380">
    </div>
    <div class="inner-title max-min">
      <div class="breadcrumbs"><a href='http://www.meimocn.com/'>主页</a> > <a href='/fangwei.html'>服务支持</a> > <a
          href='/fangwei.html'>防伪查询</a></div>
      <h2><span>防伪查询</span> / QUERY</h2>
    </div>
    <div class="inner-main max-min">
      <div class="left">
        <ul>
          <li><a href='/fangwei.html' class='on'>防伪查询</a></li>
          <li><a href="/p_shouhou">售后服务</a></li>

          <li><a href="/p_feedback">客户反馈</a></li>

          <li><a href="/p_shouquan">授权查询</a></li>

        </ul>
      </div>

      <div class="right">
        <div class="news_info">
          <div align="center"><img src="static/picture/fw1.jpg" width="740" height="304" /></div>
          <p> &nbsp;<a href="./fangwei/" target="_blank" class="chaxun">马上查询</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
          <div class="newbox" style="padding:20px;border:2px solid #f2f2f2;color:#666">
            <p>查询方式：<br />
              1: 刮开防伪涂层获取防伪码 <br />
              2：电话查询：通过拨打400-0926-315
              按照自动语音提示，将防伪码顺序输入并按“#”键结束，系统语音报出输入的防伪数码，确认无误后，系统将迅速告知消费者所查询商品的真伪。<br />3：网络查询：登陆www.meimocn.com，在官网导航条服务支持里面
              点击防伪查询 输入防伪码 将会迅速查询产品真伪 <br />
              4:微信公众号查询：通过扫官方微信公众号，进入之后，点击防伪查询，输入防伪编号，即可查出产品真伪</p>
          </div>
        </div>

      </div>
      <div style=" clear:both"></div>
    </div>
    <!-- footer -->
    <!-- footer -->
    <div class="foot-links">
      <ul class="foot-links-content">
        <li>
          <div class="title">产品中心</div>

          {{range .ProductTags}}
          <a href="/p_products" target="_blank" title="{{.Name}}">{{.Name}}</a>
          {{end}}

        </li>
        <li>
          <div class="title">合作商家</div>

          <a href="/p_products" target="_blank" title="">在线购买</a>

        </li>
        <li>
          <div class="title">服务支持</div>

          <a href="/p_fangwei" target="_blank" title="">防伪查询</a>

          <a href="/p_shouhou" target="_blank" title="">售后服务</a>

          <a href="/p_feedback" target="_blank" title="">客户反馈</a>

          <a href="/p_shouquan" target="_blank" title="">授权查询</a>

        </li>
        <li>
          <div class="title">资讯中心</div>


          <a href="/p_news" target="_blank" title="">公司新闻</a>



        </li>
        <li>
          <div class="title">关于我们</div>

          <a href="/p_about" target="_blank" title="">品牌故事</a>

          <a href="/p_about" target="_blank" title="">资质认证</a>

          <a href="/p_contact" target="_blank" title="">联系我们</a>

        </li>
        <li style="width:18%">
          <a rel="nofollow" href="/p_index" title="联系我们" style="padding:0; background:none">
            <div class="title">联系我们</div>
            <div class="foot-zxkf">
              <p class="foot-wz-01 foot-kf-01" style="line-height:30px">企业网址</p>
              <p class="foot-wz-02" style="line-height:15px;text-decoration:underline;">http://www.meimocn.com/</p>
            </div>
            <div>
              <p
                style="line-height:30px;font-size: 20px;font-family: KaiTi, KaiTi_GB2312, SimSun, FangSong_GB2312, Courier, monospace, Times, serif;font-weight: bold;color: mediumblue;">
                魅魔-您身边的护肤专家</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="foot-bt">
      <div class="foot-bt-content">
        <div class="left">
          <div class="ft-logo-png"></div>
          <div class="ft-info">© 2005-2015厦门魅魔生物科技有限公司 版权所有，并保留所有权利。粤ICP备88888号-3

          </div>
        </div>
        <div class="foot-bt-links"> <a rel="nofollow" href="/p_about" target="_blank" title="联系我们">联系我们</a> </div>
      </div>
    </div>
    <script>
      $(function () {
        $(".menu li:has(div)").eq(0).addClass("hover");
        $(".scrollLoading").scrollLoading();

      })
    </script>
    <script src="static/js/jquery.menu.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/js/jquery.banner.js" type="text/javascript" charset="utf-8"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-23908821-8', 'xx.com');
      ga('send', 'pageview');
    </script>
  </div>
  <!-- end #body-main -->
</body>

</html>